# Environments
.env
.env.local
.env.*.local

# Dependency directories
node_modules/
jspm_packages/
web_services/

# Python environment
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/

# Production builds
dist/
build/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Docker
.docker_temp/

# IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
